body {
  margin: 100px;
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* tarjeta */
.tarjeta {
  width: 300px;
  height: 300px;
  margin-inline: auto;
}

/* tarjeta lado izquierda */
.tarjeta-izquierda {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 5px 0 5px rgb(0, 0, 0, 0.1);
}

.tarjeta-izquierda img {
  aspect-ratio: 1 / 1;
  /* object-fit: cover; */
}

/* tarjeta abierta */

/* tarjeta lado derecho */
.tarjeta-derecha {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #444;
  box-sizing: border-box;
}

.tarjeta-derecha h2 {
  color: crimson;
}
