body {
  margin: 100px;
  background-color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
  display: block;
}

/* tarjeta */
.tarjeta {
  width: 300px;
  height: 300px;
  margin-inline: auto;
  position: relative;
  cursor: pointer;
  perspective: 1400px;
  left: 0;
  transition: all 1s;
}

/* tarjeta lado izquierda */
.tarjeta-izquierda {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 5px 0px 5px rgb(0, 0, 0, 0.1);
  z-index: 1;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 0 0;
}

.tarjeta-izquierda img {
  aspect-ratio: 1 / 1;
  /* object-fit: cover; */
}

.tarjeta-portada,
.tarjeta-reverso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* si giras el elemento 180° para ver lo de atrás se esconde */
}

.tarjeta-reverso {
  background-color: #f4f4f4;
  transform: rotateY(180deg);
}

.tarjeta-reverso p {
  text-align: center;
  margin-block-start: 50%;
  transform: translateY(-50%);
}

/* abrir tarjeta */
.tarjeta.abrir .tarjeta-izquierda {
  transform: rotateY(-180deg);
}

.tarjeta.abrir {
  left: 150px;
}

/* tarjeta lado derecho */
.tarjeta-derecha {
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.tarjeta-derecha h2 {
  color: crimson;
}
